* {

}

body {
    margin: 0;
    margin-bottom: 60px;
    font-family: Futura, sans-serif;
    background-color: rgb(229,227,216);
}

.votumHeader{
    display: flex;
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 40px;
}

.burger-bar{
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

.headerNoLogin{
    overflow: hidden;
    background-color: #333;
    height: 50px;
    position: center;
}

.headerNoLoginPic{
    display: flex;
    justify-content: center;
    height: 45px;
    width: auto;
    margin: 2px 1px 2px 20px;
    position: absolute;
}

.headerCenter{
    height: 30px;
    width: auto;
    position: center;
    margin: 10px 0px 10px 40%;
}

.burger-bar .burger-button {
    float: right;
    padding: 14px 10px;
    text-decoration: none;
}

.burger-bar b {
    align-content: center;
    justify-content: center;
}

.burger-bar button {
    text-decoration: none;
    width: 180px;
    height: 1.5em;
    background-color: #E5E3D8FF;
    color: rgb(51,51,51);
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    border-style: hidden;
    transition: 0.3s;
    font-weight: bold;
}

.burger-bar button:hover {
    opacity: 0.6
}
.burger-bar button:active {
    opacity: 1
}


.button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.popup-form {
    display: none;
    position: fixed;
    right: 15px;
    border: 3px solid rgb(40, 40, 40);
    z-index: 9;
    overflow: auto;
    height: auto;
    color: #E5E3D8FF;
}

.popup-form-create {
    display: none;
    position: fixed;
    right: 15px;
    border: 3px solid rgb(40, 40, 40);
    z-index: 9;
    overflow: auto;
    height: 100%;
    color: #E5E3D8FF;
}

.popup-form-front {
    display: none;
    position: fixed;
    top: 15px;
    right: 15px;
    border: 3px solid rgb(40, 40, 40);
    z-index: 9;
    overflow: auto;
    height: auto;
    color: #E5E3D8FF;
}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(51,51,51);
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=number], .form-container input[type=url], .form-container input[type=email], .form-container input[type=tel], .form-container input[type=date] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #E5E3D8FF;
    font-size: 14px;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #E5E3D8FF;
    outline: none;

}

.form-container .btn {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    background-color: #E5E3D8FF;
    color: rgb(51,51,51);
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 0.6;
}

.form-container .btn:active, .open-button:active {
    opacity: 1;
}

.content {

}
.frontpage {
    position: relative;
    background-color: rgb(229,227,216);
}

.frontpage-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
}

.frontpage-content button {
    display: flex;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 300px;
    height: 2em;
    background-color: rgb(51,51,51);
    color: #E5E3D8FF;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    font-size: 24px;
    border-style: hidden;
    transition: 0.3s;
    font-weight: bold;
}

.frontpage-content button:hover {
    opacity: 0.6
}
.frontpage-content button:active {
    opacity: 1
}

.content h1 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 200px;
    text-align: center;
}

.flavor-text {
    margin: auto;
    width: 35%;
    padding: 10px;
    font-size: 28px;
}

.content p {
    text-align: left;
}

.footer {
    position: fixed;
    margin-top: 500px;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #333;
}

.footerContent {
    text-decoration: none;
    color: white;
    float: right;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
}

.footerPic{
    height: 30px;
    width: auto;
    float: right;
    margin-right: 100px;
}

h1.shadow{
    text-shadow: #a1a097 5px 5px;
}

.jobSite{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    padding: 10px;
}

.employees{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.jobPictures{
    width: 100%;
    height: 250px;
}

#headerJob{
    text-align: center;
}

#headerList{
    color: white;
    justify-content: center;
}

.wishes{
    width: border-box;
    display: flex;
    flex-flow: wrap;
    padding: 30px;
}

.wish{
    width: 30%;
    height: auto;
    background-color: #d0cebb;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #3b3b39;
    border-width: 3px;
}

.wishHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.wishHeaderText{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-shadow: #9b9191 2px 2px;
    padding-top: 5px;
    margin: auto;
    justify-content: center;
}

#wishContent{
    display: flex;
    flex-direction: row;
}

#priceLink{
    padding: 20px 0px 20px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}


#wishDescription{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    margin: 10px 10px 10px 0px;
    height: 100px;
    background-color: #e3ddbd;
    border-style: solid;
    border-radius: 2px;
    border-color: #3B3B39FF;
}

.linkButton {
    background-color: #bbbab2;
    color: black;
    border: 2px solid #3b3b39;
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: auto;
    text-decoration: none;
}

.linkButton:hover {
    background-color: #e7e7e7;
}


.smallHeaderWishes{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 5px;
}

.wishLogo{
    height: 50px;
    width: 50px;
    margin: 5px 0px 0px 28px;
}

.wishTrashcan{
    height: auto;
    width: auto;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.wishTrashcanPic{
    height: 25px;
    width: auto;
    position: center;
}

.addWish{
    width: 30.4%;
    height: 210px;
    background-color: #D0CEBBFF;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-color: #3b3b39;
    border-width: 3px;
}
.picForAddWish{
    width: 90%;
    height: auto;
}






