<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="stylesheet.css">
</head>
<body>
<div th:fragment="footer()">
    <div class="footer">
        <a href="kontakt" class="footerContent">KONTAKT</a>
        <a href="jobOgKarriere" class="footerContent">JOB OG KARRIERE</a>
        <a href="privatlivspolitik" class="footerContent">PRIVATLIVSPOLITIK</a>
        <a href="/cookiepolitik" class="footerContent">COOKIEPOLITIK</a>
        <img class="footerPic" src="https://imgur.com/jqptSTc.png">
    </div>
</div>



<div th:fragment="header()">
    <span th:if="${session.userID == null}">
         <header class="burger-bar">
             <a href="/">
                 <img class="headerNoLoginPic" src="https://imgur.com/PkYHt0S.png">
             </a>
             <img class="headerCenter" src="https://imgur.com/ZKmPOPp.png">
             <div class="burger-button">
                 <button type="button" onclick="openLoginForm()">
                     LOG IND
                 </button>
             </div>

            <div class="burger-button">
                <button type="button" onclick="openCreateProfileForm()">
                    OPRET PROFIL
                </button>
            </div>
        </header>

        <section class="popup">
            <div class="popup-form" id="loginPopupForm">
                <form method="POST" action="/login-user" class="form-container">
                    <h1>Login</h1>
                    <label for="email-ting"><b>Email</b></label>
                    <input type="email" placeholder="Indtast Email" name="email-ting" id="email-ting" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Indtast password" name="psw" id="psw" required>

                    <button type="submit" class="btn">Login</button>
                    <button type="button" class="btn cancel" onclick="closeLoginForm()">Luk</button>
                </form>
            </div>

            <div class="popup-form-create" id="createProfilePopupForm">
                <form method="POST" action="/create-user" class="form-container">
                    <h1>OPRET PROFIL</h1>
                    <label for="create-profile-email"><b>EMAIL</b></label>
                    <input type="email" placeholder="Indtast Email" name="create-email" id="create-profile-email" required>

                    <label for="create-profile-psw"><b>PASSWORD</b></label>
                    <input type="password" placeholder="Indtast password" name="create-psw" id="create-profile-psw" required>

                    <br>
                    <label for="birthday"><b>FØDSELSDAG</b></label>
                    <br>
                    <input type="date" placeholder="Indtast din fødselsdag" name="birthday" id="birthday" required>
                    <br>

                    <label for="first-name"><b>FORNAVN</b></label>
                    <input type="text" placeholder="Indtast fornavn" name="first-name" id="first-name" required>


                    <label for="last-name"><b>EFTERNAVN</b></label>
                    <input type="text" placeholder="Indtast efternavn" name="last-name" id="last-name" required>

                    <label for="tlf-number"><b>TELEFONNUMMER</b></label>
                    <input type="tel" placeholder="Indtast telfonnummer" name="tlf-number" id="tlf-number" required>


                    <button type="submit" class="btn">LOGIN</button>
                    <button type="button" class="btn cancel" onclick="closeCreateProfileForm()">LUK</button>
                    <br><br><br><br><br>
                </form>
            </div>

            <script>
                function openLoginForm() {
                    document.getElementById("loginPopupForm").style.display = "block";
                }
                function closeLoginForm() {
                    document.getElementById("loginPopupForm").style.display = "none";
                }
                function openCreateProfileForm() {
                    document.getElementById("createProfilePopupForm").style.display = "block";
                }
                function closeCreateProfileForm() {
                    document.getElementById("createProfilePopupForm").style.display = "none";
                }
            </script>
        </section>
    </span>
    <span th:unless="${session.userID == null}">
        <header class="burger-bar">
        <a href="/">
             <img class="headerNoLoginPic" src="https://imgur.com/PkYHt0S.png">
         </a>
        <img class="headerCenter" src="https://imgur.com/ZKmPOPp.png">
        <a>
            <div class="burger-button">
                <form method="POST" action="/log-ud">
                <button type="submit">Log ud</button>
                </form>
            </div>
        </a>
    </header>
    </span>
</div>

</body>
</html>