<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vōtum</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
<div th:replace="fragments/general.html :: header()"></div>

<section class="popup">
    <div class="popup-form" id="loginPopupForm">
        <form method="POST" action="/login-info-user" class="form-container">
            <h1>Login</h1>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Indtast Email" name="email" id="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="text" placeholder="Indtast password" name="psw" id="psw" required>

            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeLoginForm()">Luk</button>
        </form>
    </div>
    <div class="popup-form" id="createProfilePopupForm">
        <form action="action.php" class="form-container">
            <h1>Login</h1>
            <label for="create-profile-email"><b>Email</b></label>
            <input type="text" placeholder="Indtast Email" name="create-email" id="create-profile-email" required>
            <label for="create-profile-psw"><b>Password</b></label>
            <input type="text" placeholder="Indtast password" name="create-psw" id="create-profile-psw" required>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeCreateProfileForm()">Luk</button>

        </form>
    </div>

</section>
<section class="content">
    <div class="flavor-text">
        <h2>JOB OG KARRIERE</h2>
        <p>Her hos Votum udvikler vi banebrydende software. Vi ansætter kun de allerbedste programører, så vores team altid er tip top.</p>
        <p>Vi synes selv, at Votum er den mest fantastiske arbejdsplads – Har du det der skal til for at være med på vinderholdet?</p>
        <p>Der er på nuværende tidspunkt ikke nogen ledige stillinger hos Votum, men hold godt øje for alle fremtidige ledige stillinger vil blive lagt op her.<br><br><br></p>
        <h2>MØD VORES NUVÆRENDE TEAM</h2>
    </div>
    <div class="jobSite">
        <article class="employees">
            <img src="https://imgur.com/ve8Bgyn.jpg" class="jobPictures">
            <p>Mads Bøgh Højer Nielsen</p>
            <p>Mads er Votums CEO. <br> Han startede virksomheden i december 2021 og har en baggrund som Livgard.</p>
        </article>
        <article class="employees">
        <img src="https://imgur.com/DYPhEQx.jpg" class="jobPictures">
            <p>Jens Legarth Ryge</p>
            <p>Jens er Votums IT-projektleder. <br> Han har været i virksomheden siden februar 2022, og er vores vigtigste ressource. Desuden agerer Jens også som firmaets grafiske designer.</p>
        </article>
        <article class="employees">
        <img src="https://imgur.com/YqGyMmN.jpg " class="jobPictures">
            <p>Johannes Forsting</p>
            <p>Johannes er Votums trofaste studentermedhjælper.<br> Han har været i virksomheden siden marts 2022, og hjælper Jens med den daglige drift.</p>
        </article>
    </div>

</section>

<div th:replace="fragments/general.html :: footer()"></div>


<script>
    function openLoginForm() {
        document.getElementById("loginPopupForm").style.display = "block";
    }
    function closeLoginForm() {
        document.getElementById("loginPopupForm").style.display = "none";
    }
    function openCreateProfileForm() {
        document.getElementById("createProfilePopupForm").style.display = "block";
    }
    function closeCreateProfileForm() {
        document.getElementById("createProfilePopupForm").style.display = "none";
    }
</script>
</body>
</html>