<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vōtum</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
<div th:replace="fragments/general.html :: header()"></div>

<section class="popup">
    <div class="popup-form" id="loginPopupForm">
        <form method="POST" action="/login-info-user" class="form-container">
            <h1>Login</h1>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Indtast Email" name="email" id="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="text" placeholder="Indtast password" name="psw" id="psw" required>

            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeLoginForm()">Luk</button>
        </form>
    </div>
    <div class="popup-form" id="createProfilePopupForm">
        <form action="action.php" class="form-container">
            <h1>Login</h1>
            <label for="create-profile-email"><b>Email</b></label>
            <input type="text" placeholder="Indtast Email" name="create-email" id="create-profile-email" required>
            <label for="create-profile-psw"><b>Password</b></label>
            <input type="text" placeholder="Indtast password" name="create-psw" id="create-profile-psw" required>
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeCreateProfileForm()">Luk</button>

        </form>
    </div>

</section>
<section class="content">
    <div class="flavor-text">
        <h2>KONTAKT</h2>
        <p>Har du spørgsmål eller brug for hjælp, er du meget velkommen til at kontakte Kundeservice. Vi glæder os til at høre fra dig.</p>
        <p>Telefon +45 33 11 44 33</p>
        <h2>KUNDESERVICE ÅBNINGSTIDER</h2>
        <p>Vores kundeservice sidder til at hjælpe dig.<br> Kontakt os som det passer dig, enten via telefon på følgende tider:</p>
        <ul>
            <li>Hverdag: 8:00-15:00</li>
            <li>Lørdag: 10:00-14:00</li>
            <li>Søndag: Lukket</li>
        </ul>
        <p>Du kan også altid kontakte os på e-mail, så vender vi tilbage til dig hurtigst muligt. <br>E-mail: kundeservice@votum.dk </p>
    </div>
</section>

<div th:replace="fragments/general.html :: footer()"></div>

<script>
    function openLoginForm() {
        document.getElementById("loginPopupForm").style.display = "block";
    }
    function closeLoginForm() {
        document.getElementById("loginPopupForm").style.display = "none";
    }
    function openCreateProfileForm() {
        document.getElementById("createProfilePopupForm").style.display = "block";
    }
    function closeCreateProfileForm() {
        document.getElementById("createProfilePopupForm").style.display = "none";
    }
</script>
</body>
</html>