<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vōtum</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
<div th:replace="fragments/general.html :: header()"></div>

    <section class="frontpage">
        <section class="content">
            <img class="votumHeader" src="https://imgur.com/tnFMOcC.png">
            <div class="frontpage-content">
                <h2>MINE LISTER</h2>
                <!-- In this form we create forms for each of the buttons. We also have an input that is hidden that is
                assigned the id of the wishlist that is submitted
                -->
                <form th:each="Wishlist : ${allWishLists}" method="POST" action="/list">
                    <input name="hidden" type="hidden" th:value="${Wishlist.getWishlistID()}">
                    <button th:text="${Wishlist.getTitle()}" th:name="${Wishlist.getWishlistID()}" th:id="${Wishlist.getWishlistID()}" th:value="${Wishlist.getWishlistID()}"></button>
                </form>
                <div id="selectpanel">
                </div>
                <div id="inputpanel">
                    <button type="button" id="createBut" onclick="openListForm()">+ NY LISTE</button>
                </div>
            </div>
        </section>
        <section class="popup-form-front" id="listPopupForm">
            <form method="POST" action="/create-wishlist" class="form-container">
                <h1>Lav ønskeliste</h1>
                <label for="wishlist-name"><b>NAVN</b></label>
                <input type="text" placeholder="Indtast ønskelistens navn" name="name-for-wishlist" id="wishlist-name" required>
                <button type="submit" class="btn">OPRET</button>
                <button type="button" class="btn cancel" onclick="closeListForm()">LUK</button>
            </form>
        </section>
    </section>

<div th:replace="fragments/general.html :: footer()"></div>
    <script>
        function createButton(context) {
            var button = document.createElement("button");
            button.type = "button";
            button.value = "im a button";
            button.textContent = document.getElementById("wishlist-name")

            var selectPanel = document.getElementById('selectpanel');
            selectPanel.appendChild(button);
        }
        function openListForm() {
            document.getElementById("listPopupForm").style.display = "block";
        }
        function closeListForm() {
            document.getElementById("listPopupForm").style.display = "none";
        }
    </script>
</body>
</html>