<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vōtum</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
    <header class="burger-bar">
        <img class="headerNoLoginPic" src="https://imgur.com/PkYHt0S.png">
        <img class="headerCenter" src="https://imgur.com/ZKmPOPp.png">
        <a>
            <div class="burger-button">
                <form method="GET" action="/">
                <button type="submit">Log ud</button>
                </form>
            </div>
        </a>
    </header>
    <section class="frontpage">
        <section class="content">
            <h1 class="shadow">Vōtum</h1>
            <div class="frontpage-content">
                <h2>Mine Lister</h2>
                <!-- In this form we create forms for each of the buttons. We also have an input that is hidden that is
                assigned the id of the wishlist that is submitted
                -->
                <form th:each="Wishlist : ${allWishLists}" method="POST" action="/list">
                    <input name="hidden" type="hidden" th:value="${Wishlist.getWishlistID()}">
                    <button th:text="${Wishlist.getTitle()}" th:name="${Wishlist.getWishlistID()}" th:id="${Wishlist.getWishlistID()}" th:value="${Wishlist.getWishlistID()}"></button>
                </form>
                <div id="selectpanel">
                </div>
                <div id="inputpanel">
                    <button type="button" id="createBut" onclick="openListForm()">+ Ny liste</button>
                </div>
            </div>
        </section>
        <section class="popup-form-front" id="listPopupForm">
            <form method="POST" action="/create-wishlist" class="form-container">
                <h1>Lav ønskeliste</h1>
                <label for="wishlist-name"><b>Ønskeliste navn</b></label>
                <input type="text" placeholder="Indtast ønskeliste navn" name="name-for-wishlist" id="wishlist-name" required>
                <button type="submit" class="btn">Opret</button>
                <button type="button" class="btn cancel" onclick="closeListForm()">Luk</button>
            </form>
        </section>

    </section>

    <div th:replace="fragments/general.html :: footer()"></div>
    <script>
        function createButton(context) {
            var button = document.createElement("button");
            button.type = "button";
            button.value = "im a button";
            button.textContent = document.getElementById("wishlist-name")

            var selectPanel = document.getElementById('selectpanel');
            selectPanel.appendChild(button);
        }
        function openListForm() {
            document.getElementById("listPopupForm").style.display = "block";
        }
        function closeListForm() {
            document.getElementById("listPopupForm").style.display = "none";
        }
    </script>
</body>
</html>