<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vōtum</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
<section class="frontpage">
    <header class="headerNoLogin">
        <a href="/">
            <img class="headerNoLoginPic" src="https://imgur.com/PkYHt0S.png">
            <img class="headerCenter" src="https://imgur.com/ZKmPOPp.png">
        </a>
    </header>
    <div class="wishes">
        <div class="wish" th:each="Wish : ${allWishes}">
            <div class="wishHeader">
                <img class="wishLogo" src="https://imgur.com/NFKziS4.png">
                <a class="wishHeaderText" th:text="${Wish.getTitle()}"></a>
            </div>
            <div id="wishContent">
                <div id="priceLink">
                    <div>
                        <a class="smallHeaderWishes">Price<br></a>
                        <a><span th:text="${Wish.getPrice()}"></span></a>
                    </div>
                    <a class="linkButton" th:href="${Wish.getLink()}">Link</a>
                </div>
                <div id="wishDescription">
                    <a class="smallHeaderWishes">Description</a>
                    <a th:text="${Wish.getDescription()}"></a>
                </div>
            </div>
        </div>
        <button class="addWish">Add wish<br> <span class="plus">+</span></button>

    </div>

</section>

<div th:replace="fragments/general.html :: footer()"></div>
</body>
</html>
